// html,
// body {
//   font-family: "Roboto";
// }

// main {
//   display: grid;
//   grid-template-columns: repeat(2, minmax(100px, 1fr));
//   grid-template-rows: repeat(1, minmax(100px, 1fr));

//   svg {
//     width: minmax(100px, 20em);
//     height: minmax(100px, 20em);
//   }

//   .sub-routine {
//     grid-template-rows: 1fr;
//     align-items: flex-start;
//     position: relative;

//     .header {
//       font-size: minmax(1em, 2em);
//       font-weight: bold;
//     }
//     .update {
//       font-size: 11px;
//       color: olivedrab;
//     }

//     .stats {
//       grid-gap: 1em;

//       .text-stats {
//         font-size: x-small;
//         padding-right: 1em;
//         color: red;
//       }
//     }

//     .chart-wrapper {
//       position: absolute;
//       margin: auto;
//       height: 50vh;
//       width: 40vw;
//       top: 150px;
//       right: 50px;
//       @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
//         height: 30vh;
//         top:70px;
//       }
    
//     }
//   }
// }

// path {
//   fill: darkseagreen;
//   stroke: rgb(252, 252, 252);
//   stroke-width: 1px;
//   /* transition: fill 0.3ms; */
// }
// path:hover {
//   stroke: darkred;
//   fill: darkred;
//   stroke-width: 5px;
// }
// .groupedHover:hover {
//   path {
//     stroke: darkred;
//     fill: darkred;
//     stroke-width: 5px;
//   }
// }

// .MasterTable {
//   display: grid;
//   grid-template-columns: 1fr;
//   align-items: baseline;
//   justify-items: center;

//   table {
//     table-layout: auto;
//     width: 70%;
//   }

//   tr.example-detail-row {
//     height: 0;
//     align-content: center;
//   }

//   tr.example-element-row:not(.example-expanded-row):hover {
//     background: #c4c4c4;
//   }

//   tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
//   }

//   .example-element-row td {
//     border-bottom-width: 0;
//     justify-content: flex-end;
//   }

//   .example-element-detail {
//     display: flex;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     @media screen and (max-width: 400px) {
//       font-size: x-small;
//     }
//   }
//   .chevron {
//     font-size: 13px;
//   }
//   .example-element-diagram {
//     min-width: 80px;
//     width: 500px;
//     // border: 1px solid black;
//     padding: 8px;
//     font-weight: lighter;
//     margin: 8px 0;
//     //height: 120px;
//     overflow-y: scroll;
//     background: rgb(235, 234, 234);
//   }

//   .citytable {
//     width: 100%;
//     height: 100%;
//   }

//   .mainTableHeader {
//     text-transform: capitalize;
//     background: mediumslateblue;
//   }
// }

// @media screen and (max-width: 415px) {
//   main {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(1, 1fr);
//     position: relative;

//     .sub-routine {
//       position: absolute;

//       .header {
//         font-size: minmax(1em, 2em);
//         font-weight: bold;
//       }

//       .chart-wrapper {
//         grid-template-rows: 1fr;
//         position: absolute;
//         margin: auto;
//         height: 40vh;
//         width: 45vh;
//         top: 425px;
//         right: -160px;
//       }
//     }
//   }
//   .MasterTable {
//     position: absolute;
//     top: 850px;
//     width: 10vh;

//     table {
//       table-layout: auto;
//       width: 50%;
//       height: 50%;
//     }
//     .mainTableHeader {
//       text-transform: capitalize;
//       background: mediumslateblue;
//       font-size: x-small;
//     }
//   }
// }

// //iphone plus series
// @media screen and (min-device-width: 414px) and (max-width: 736px) {
//   main {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(1, 1fr);
//     position: relative;

//     .sub-routine {
//       position: absolute;

//       .header {
//         font-size: minmax(1em, 2em);
//         font-weight: bold;
//       }

//       .chart-wrapper {
//         grid-template-rows: 1fr;
//         position: absolute;
//         margin: auto;
//         height: 40vh;
//         width: 45vh;
//         top: 480px;
//         right: -160px;
//       }
//     }
//   }
//   .MasterTable {
//     position: absolute;
//     top: 900px;
//     width: 10vh;

//     table {
//       table-layout: auto;
//       width: 50%;
//       height: 50%;
//     }
//     .mainTableHeader {
//       text-transform: capitalize;
//       background: mediumslateblue;
//       font-size: x-small;
//     }
//   }
// }

h4.covid-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 28px;
  font-weight: bolder;
}


.covid-grid{

  display: grid ;  
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}

.covid-item {  
  //background: #efefef;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 10px;
  width: 270px;
  height: auto;
  box-shadow: 0px 3px 5px #dadada;  
  background-image: radial-gradient(circle at center center, rgba(217, 217, 217,0.05) 0%, rgba(217, 217, 217,0.05) 15%,rgba(197, 197, 197,0.05) 15%, rgba(197, 197, 197,0.05) 34%,rgba(178, 178, 178,0.05) 34%, rgba(178, 178, 178,0.05) 51%,rgba(237, 237, 237,0.05) 51%, rgba(237, 237, 237,0.05) 75%,rgba(138, 138, 138,0.05) 75%, rgba(138, 138, 138,0.05) 89%,rgba(158, 158, 158,0.05) 89%, rgba(158, 158, 158,0.05) 100%),radial-gradient(circle at center center, rgb(255,255,255) 0%, rgb(255,255,255) 6%,rgb(255,255,255) 6%, rgb(255,255,255) 12%,rgb(255,255,255) 12%, rgb(255,255,255) 31%,rgb(255,255,255) 31%, rgb(255,255,255) 92%,rgb(255,255,255) 92%, rgb(255,255,255) 97%,rgb(255,255,255) 97%, rgb(255,255,255) 100%); background-size: 42px 42px;
}


.covid-map-stats{
  padding: 10px;
  margin-bottom: 10px;
  width: 270px;
  height: 130px;
  box-shadow: 0px 3px 5px #dadada;  
  background-image: repeating-linear-gradient(0deg, hsla(23,0%,86%,0.45) 0px, hsla(23,0%,86%,0.45) 1px,transparent 1px, transparent 36px),repeating-linear-gradient(90deg, hsla(23,0%,86%,0.45) 0px, hsla(23,0%,86%,0.45) 1px,transparent 1px, transparent 36px),linear-gradient(90deg, hsl(334,2%,100%),hsl(334,2%,100%));

}

.covid-row {
  display: flex;
}

.covid-col {
  padding-right: 30px;
}

.covid-col.covid-recovered {
  color: #32bb32;
  padding-right: 0;
}

.covid-col.covid-confirmed {
  color: #ff2c2c;
}

.covid-col.covid-deaths {
  color: #494949;
}
.covid-col.covid-samples{
  color:rgba(56, 59, 247, 0.651)
}

.covid-col.covid-negative{
  color:rgba(3, 71, 3, 0.651)
}

.covid-col.covid-progress{
  color:rgba(248, 80, 220, 0.877)
}

.covid-col.covid-ventillator{
  color:rgba(0, 128, 0, 0.774)
}

.covid-col.covid-beds{
  color:rgba(44, 59, 44, 0.774)
}

.covid-col.covid-tc{
  color:rgba(216, 7, 94, 0.664)
}

.covid-value {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-align: center;  
  
}

.covid-label {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  
}

h4.covid-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 28px;
  
}



.mapsandstats{

  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 80px;
  grid-gap: 1em;
  //align-items:center;  
  //justify-content: center;  
  margin: 0;
  //width: 50em;
}

.mapofTN{
  grid-area: left;
  //grid-column: 1 / 4;
  grid-row: 2 / 3;
 margin-left: 5em;
}

.covid-map-stats{

  grid-area: right;
 // grid-column: 4 / 5;
  grid-row: 2 / 3; 
}


  
path {
  fill: darkseagreen;
  stroke: rgb(252, 252, 252);
  stroke-width: 1px;
  transition: fill 0.3ms; 
}
path:hover {
  stroke: darkred;
  fill: darkred;
  stroke-width: 5px;
}
.groupedHover:hover {
  path {
    stroke: darkred;
    fill: darkred;
    stroke-width: 5px;
  }
}

.chartmap{

  height: 70%;
  width: 100%;
  
}



@media screen and (max-width: 415px) {


main{
//SVG Map
  svg {
    
    
    path {
      fill: darkseagreen;
      stroke: rgb(252, 252, 252);
      stroke-width: 1px;
      transition: fill 0.3ms; 
    }
    path:hover {
      stroke: darkred;
      fill: darkred;
      stroke-width: 5px;
    }
    .groupedHover:hover {
      path {
        stroke: darkred;
        fill: darkred;
        stroke-width: 5px;
      }
    }
  }

  .mapsandstats{

    display: flex; 
    justify-content: center;
    position: relative;
    
     .mapofTN{   
      position: absolute;
      width: 40vh;
      height: 50vh;    
      right: 2.5em;
      top:10em;
      
    }   
  
        
  }
  
  

//   .chart-wrapper{
// height: 40vh;
// width: auto;

//   }
}
.chartmap{

  position: absolute;
  height: 40vh;
  width: 90%;
  top:1025px;
  
  }


}

